/* SideBar.css */
.sidebar {
    margin-top: 20px;
}

.sidebar-buttons {
    display: flex;
}

.sidebar-button {
    flex: 1;
    /* Each button takes up equal width */
    padding: 10px;
    margin: 0 5px;
    /* Add some margin between buttons */
    background-color: rgba(0, 0, 0, 0.4);
    /* Transparent black background */
    color: #1f1919;
    /* Smoke white color */
    border: none;
    cursor: pointer;
    font-weight: bold;
    /* Make text bold */
}

/* Add hover effect */
.sidebar-button:hover {
    background-color: rgba(0, 0, 0, 0.6);
    /* Darker transparent background */
}