.Footer {
    height: 85px;
    width: 100vw;
    background-color: rgb(227, 160, 160);
    display: flex;
}

.playbar {
    display: flex;
    background-image: url('');
    background-size: contain;

    background-repeat: no-repeat;
    height: 50px;
    width: 50vw;
    margin-left: 300px;
    justify-content: center;
}