.Home {
    background-color: rgb(95, 90, 90);
    position: static;
}

.homepage-container {
    display: flex;

    height: 100vh;
}

.sidebar-wrapper {
    width: auto;
}

.main-bar-wrapper {
    width: auto;
}