.Home {
    background-color: #5a5252;
position: static;
}

.homepage-container {
    display: flex;

    height: 100vh;
}

.sidebar-wrapper {
    width: auto;
}

.main-bar-wrapper {
    width: auto;
}