.Lmain {
    display: flex;
    height: 100vh;
    background-color: rgb(9, 55, 30);
}

.wel {
    font-size: 1.7vw;
}


@media (max-width:600px){ 
    
}
.Lsub1 {
    flex-direction: column;
    display: flex;
    height: fit-content;
    text-align: center;
    align-self: center;
    width: 50vw;
    color: white;
}

.Lsub2 {
    display: flex;
}

.text {
    font-size: 1.3vw;
}

.sub-2 {
    display: flex;
    flex-direction: column;
}

.sub-a {
    background-image: url('./assets/violin.jpeg');
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%;
    width: 25vw;
}

.sub-b {
    background-image: url('./assets/download (2).jpeg');
    background-position: center;
    background-size: cover;
    display: flex;
    height: 50%;
    width: 25vw;
}

.sub-3 {
    background-image: url('./assets/Green Aesthetic (1).jpeg');
    display: flex;
    background-position: center;
    background-size: cover;
    height: 50%;
    width: 25vw;
}

.sub-4 {
    background-image: url('./assets/disk.jpeg');
    display: flex;
    background-size: cover;
    height: 50%;
    width: 25vw;
}

.sign {
    height: 7vh;
    width: 9vw;
    border-radius: 2rem;
    background-color: #F1A500;
    text-decoration: none;
    justify-self: center;
    border: 2px solid rgb(244, 240, 240);
    font-size: 1.7vw;
    color: rgb(9, 55, 30);
    font-weight: 700;
    transition: transform 0.3s ease;
}

.sign:hover {
    transform: scale(1.2);
    animation: shake 0.5s ease infinite;
}

.sign a {
    text-decoration: none;
    color: inherit;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.animated-text {
    display: flex;
    font-size: 4.5vw;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: transform 0.3s ease;
}

.animated-text:hover {
    transform: scale(1.1);
}
