.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: #38e449;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 70%;
    /* Adjusted width for responsiveness */
    max-width: 300px;
    /* Optional: Set maximum width */
}

.login-title {
    text-align: center;
    margin-bottom: 20px;
    color: #373935;
}

.login-input-field {
    padding: 10px;
    display: flex;
    align-items: center;
    width: auto;

}

.login-button {
    width: 50%;
    /* Adjusted width for responsiveness */
    margin-top: 20px;

    border: none;
    border-radius: 5px;
    background-color: #e4edf7;
    color: #1fdd58;
    padding: 7px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.login-button:hover {
    background-color: #414243;
}

.login-checkbox-field {
    display: flex;
    align-items: center;
}

.login-checkbox-field input {
    margin-right: 5px;
}

.login-new-user {
    margin-right: 5px;
}