
.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: #1DB954;
    /* Green background color */
    border-radius: 8px;
}

.Kunal {
    text-align: center;

}

.input-field {
    margin: 15px 15px 15px 15px;
}

.SignUpButton {
    background-color: #9ee9a1;
    /* Green background color */
    color: white;
    width: 120px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 16px;
}

.SignUpButton:hover {
    background-color: #2b332b;
    /* Darker green color on hover */
}

.checkbox-field {
    margin-bottom: 15px;
}

.new-user a {
    color: blue;
    text-decoration: none;
}

.new-user a:hover {
    text-decoration: underline;
}