.main {
    background-color: black;
    width: 100vw;
    height: 60px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    position: fixed;



}

.logo {
    background-image: url('./assets/main-logo.jpg');
    height: 57px;
    width: 65px;
    margin-left:3vw ;
    background-size: cover;
}

.Log-img {
    height: 65px;
    width: 70px;
    background-size: cover;
    margin-left: 40px;
    border-radius: 5px;
}

.nav-profile {
    margin-left: 40px;
}

.nav-home {
    margin-left: 45px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex-grow: 1;
    /* Allow container to grow */
}

.icon {
    font-size: 24px;
    color: #1DB954;
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: 9vw;
}   

.search-input {
    padding: 5px;
    margin-right: 8px;
    border-radius: 5px;
    border: none;
}

.signup-btn,
.login-btn {
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.signup-btn:hover,
.login-btn:hover {
    color: #1DB954;
}

.login-btn {

    margin-left: 300px;

}

.signup-btn {
    color: green;
    margin-left: 20px;

}

.Login a {
    color: green;
    font-size: larger;
    text-decoration: none;
}

.Sign a {
    color: green;
    font-size: larger;
    text-decoration: none;
}

.Profile a {
    color: green;
    font-size: larger;
    text-decoration: none;
}