.main {
    background-color: black;
    max-width: 100%;
    height: 70px;
    /* Set height to 100px */
    margin-top: 20px;
    display: flex;
    /* Use flexbox */
    align-items: center;
    /* Center content vertically */
    position: sticky;

}


.Log-img {
    height: 65px;
    width: 70px;
    background-size: cover;
    margin-left: 40px;
    border-radius: 5px;
}

.nav-profile {
    margin-left: 40px;
}

.nav-home {
    margin-left: 45px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex-grow: 1;
    /* Allow container to grow */
}

.icon {
    font-size: 24px;
    color: #1DB954;
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: 200px;

    /* Correct margin value */
}

.search-input {
    padding: 8px;
    margin-right: 8px;
    border-radius: 5px;
    border: none;
}

.signup-btn,
.login-btn {
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.signup-btn:hover,
.login-btn:hover {
    color: #1DB954;
}

.login-btn {

    margin-left: 300px;
    /* Adjust margin value */
}

.signup-btn {
    color: green;
    margin-left: 20px;
    /* Adjust margin value */
}

.Login a {
    color: green;
    font-size: larger;
    text-decoration: none;
}

.Sign a {
    color: green;
    font-size: larger;
    text-decoration: none;
}

.Profile a {
    color: green;
    font-size: larger;
    text-decoration: none;
}