.sidebar-container {
    display: flex;
    height: 59.5vh;
    width: 19.58vw;
    background-color: #3c3737;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    position: fixed;
    top: 70px;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar-buttons {
    margin-top: 15px;
    justify-content: left;
    display: flex;
    flex-direction: column;
}

.sidebar-button-group {

    flex-direction: column;
}

.sidebar-button2 {
    padding: 4px;
    margin: 5px 0;
    font-size: 15px;
    border-radius: 10px;
    background-color: #3c3737;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.sidebar-button1 a {
    text-decoration: none;
    color: #1DB954;
}

.sidebar-button2 a {
    text-decoration: none;
    color: #1DB954;
}

.sidebar-button1 {
    padding: 4px;
    background-color: #3c3737;
    margin-left: 20px;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 10px;
    color: #1DB954;

    width: 85px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}


.artist {
    border-radius: 10px;
    border: none;
    color: #1DB954;
    cursor: pointer;
    font-size: 15px;
    margin-left: 40px;
    padding: 10px;
    background-color: #3c3737;
    font-weight: bold;
}

.artist a{
    color:#1DB954;
}

.sidebar-button a {
    color: #1DB954;
    text-decoration: none;
}

.sidebar-button {
    border-radius: 10px;
    border: none;
    color: #1DB954;
    cursor: pointer;
    font-size: 14px;
    background-color: #3c3737;
    font-weight: bold;
}

.sidebar-button:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.song-info-box {
    padding: 20px;
    color: aliceblue;
    border-radius: 10px;
    background-color: #171212;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.song-image {
    height: 150px;
    margin-top: 10px;
    width: 150px;
    background-size: cover;
    background-image: url('./assets/ab67616d00001e020acb5a72549287bf33b51b71ab67616d00001e0249079e6945b600abe668cae4ab67616d00001e02707ea5b8023ac77d31756ed4ab67616d00001e02d567bc615d8d891d112c8a35.jpg');
}

.song-details {
    margin-top: 10px;
    color: aliceblue;
}