.search-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.search-container h2 {
  margin-bottom: 20px;

}



.search-container input {
  width: 80%;
  padding: 5px;
}

.results-container {
  position: absolute;
  top: 20px; /* Adjust this value as needed */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
  max-width: 300px;
  max-height: 300px; /* Adjust height as needed */
  color: white;
  text-align: left;
  background-color: #677E61;
  border-radius: 10px;
  border: 2px solid white;
  overflow: auto;
  z-index: 10000; /* Higher z-index to ensure it's on top */
  padding: 10px;
}

.results-container ol {
  list-style-type: none;
  padding: 0;
}

.results-container li {
  margin-bottom: 10px;
}

.results-container li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.results-container li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.error {
  color: red;
}
